body{
	margin:0;
	background-color: #f4f4f4;
}

.wrapper{ /*the wrapper used throughout website*/
	width:1200px;
	height:100%;
	margin-bottom: 0px;
	margin-top: 0px;
	margin-right: auto;
	margin-left:auto;
}

/*this is the nav bar*/

.Header{ /*the brown nav header box*/
	width:100%;
	height:170px;
	padding-top:50px;
	background-color:#231913;
}


.Logocontainer{ /*where logo is*/
	width:250px;
	height:113px;
	float:right;
}

.overlay{ /*overlay for logo link*/
	position:absolute;
	height:113px;
	width:250px;
	margin-left:20%;
	opacity:100;
	transition:.5s ease;
}

.Logocontainer:hover .overlay{ /*the hover*/
	opacity:1;
}

.logoimage{ /*the container for the image*/
	width:250px;
	height:113px;
	margin-left:20%;
	text-align:center;
}


.TabBar{ /*the bar where the links are contained*/
	width:100%;
	height:20px;
}

.TabBarlinks{ /*the bar where the links are*/
	width:990px;
	height:20px;
	padding-top:10px;
	float:right;
}

ul { /**/
	list-style-type: none;
	margin:0;
}

li { /*where the nav options sit*/
	float:left;
}

li a { /*the link*/
	color:#f4f4f4;
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
	font-size:15pt;
	text-align:right;
	padding: 10px 50px;
	text-decoration:none;
}

li a:hover { /*when you hover over link*/
	background-color:transparent;
	color:#CC9660;
}

.active{
	background-color:transparent;
	color:#CC9660;
}



/*this is the About page*/

h1{ /*Header*/
	color:#f4f4f4;
	font-family:'Open Sans', sans-serif;
	font-weight:600;
	font-size:80px;
	text-align:center;
	margin:0;
	padding-top:40px;
}

p-1{ /*About paragraph*/
color: #231913;
	font-family:'Open Sans', sans-serif; 
	line-height:28px;
	font-weight:400; 
	font-size: 16px;
	font-kerning: 30px;
}

p-2{ /*quotes and Introducing...*/
	color: #f4f4f4;
	font-family: 'Open Sans', sans-serif;
	line-height:28px;
	font-weight:400; 
	font-size: 16px;
	font-kerning: 30px;
}

p-3{ /*footer address*/
	color: #cc966d;
	font-family:'Open Sans', sans-serif; 
	font-size: 16px;
}



/*Header of Page */

.firstRow{ /*row for header*/
	width:100%;
	height:190px;
	background-color:#4c4644;
}

.band{ /*band under header*/
	width:100%;
	height:20px;
	background-color:#CC9660;
}



.secondRow{ /*row where with b&w pic and about*/
	width: 100%;
	height:400px;
	margin-top: 20px;
}

.aboutImage{ /* where b&w picture goes*/
	width:580px;
	height:388px;
	padding-top: 12px;
	float:left;
}

.blankRow{ /*used on first and second row to add space*/
	width: 100px;
	height: 100%;
	float: left;
}

.blankRow2{ /*used on first and second row to add space*/
	width: 129.5px;
	height: 100%;
	float: left;
}

.aboutText{ /*about paragraph*/
	width:390.5px;
	height:270px;
	float:left;
	padding-top:130px;
}



.thirdRow{ /*row where more story is */
	width:100%;
	height:300px;
}

.textBox{ /*where story goes*/
	width:700px;
	height:270px;
	padding-top:30px;
	margin-left:250px;
}



.fourthRow{ /*row where quotes are*/
	width: 100%;
	height: 225px;
	padding-top: 25px;
	background-color:#4c4644;
}

.imagebox{ /*where the image is located*/
	width: 200px;
	height: 200px;
	padding-right:50px;
	padding-left:50px;
	float: left;
	background-color:#4c4644;
}

.image{ /*the image of woman*/
	width: 200px;
	height: 200px;
	border-radius:50%;
	background-color: #4c4644;
}

.quote{ /*the quote of woman*/
	width: 550px;
	height: 150px;
	padding-top:50px;
	padding-right:200px;
	float: left;
	background-color:#4c4644;
}

.image2{ /*the image of man*/
	width: 200px;
	height: 200px;
	border-radius:50%;
	float:right;
}

.quote2{ /*the quote of man*/
	width: 550px;
	height: 150px;
	padding-top:50px;
	padding-left:200px;
	float: left;
	background-color: #4c4644;
}



/*footer*/

.footer{ /* this section is the footer, where my social media links will go */
	width: 100%;
	height: 180px;
	background-color: #231913;
	padding-top: 50px;
	margin-top:100px;
}

.footerCol-out{ /* the space before and after the icons */
	width: 375px;
	height:100%;
	float: left;
}

.footerIconCol{ /* the box that the icons will go in */
	width: 450px;
	height:100%;
	float: left;
	text-align: center;
}

.icons { /*the class where the icon link goes*/
	width: 150px;
	height:100px;
	float:left;
	text-align:center;
	/*padding-top:60px;*/
}

.fab{ /*allows me to change the icon size, color, etc.*/
	padding:10px;
	font-size:45px;
	height:45px;
	width:45px;
	margin: 5px 2px;
	text-align:center;
	border-radius:50%;
	background-color: #f4f4f4;
	color: #231913;
}

.fab:hover{ /*the hover over the icons*/
	transition:0.3s;
	background: #CC9660;;
}
