body{
	margin:0;
	background-color: #f4f4f4;
}

.wrapper{ /*the wrapper used throughout website*/
	width:1200px;
	height:100%;
	margin-bottom: 0px;
	margin-top: 0px;
	margin-right: auto;
	margin-left:auto;
}

/*this is the nav bar*/

.Header{ /*the brown nav header box*/
	width:100%;
	height:170px;
	padding-top:50px;
	background-color:#231913;
}


.Logocontainer{ /*where logo is*/
	width:250px;
	height:113px;
	float:right;
}

.overlay{ /*overlay for logo link*/
	position:absolute;
	height:113px;
	width:250px;
	margin-left:20%;
	opacity:100;
	transition:.5s ease;
}

.Logocontainer:hover .overlay{ /*the hover*/
	opacity:1;
}

.logoimage{ /*the container for the image*/
	width:250px;
	height:113px;
	margin-left:20%;
	text-align:center;
}


.TabBar{ /*the bar where the links are contained*/
	width:100%;
	height:20px;
}

.TabBarlinks{ /*the bar where the links are*/
	width:990px;
	height:20px;
	padding-top:10px;
	float:right;
}

ul { /**/
	list-style-type: none;
	margin:0;
}

li { /*where the nav options sit*/
	float:left;
}

li a { /*the link*/
	color:#f4f4f4;
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
	font-size:15pt;
	text-align:right;
	padding: 10px 50px;
	text-decoration:none;
}

li a:hover { /*when you hover over link*/
	background-color:transparent;
	color:#CC9660;
}

.active{
	background-color:transparent;
	color:#CC9660;
}



/*this is the Contact page*/

h1{ /*used for the top band saing "Contact"*/
	color:#f4f4f4;
	font-family:'Open Sans', sans-serif;
	font-weight:600;
	font-size:80px;
	text-align:center;
	margin:0;
	padding-top:40px;
}

h2{ /*"Request Quote" and "Open Hours" text*/
	color:#231913;
	font-family:'Open Sans', sans-serif;
	font-weight:600;
	font-size:30px;
	text-align:center;
	margin:0;

}

p-1{ /*address text*/
	color: #f4f4f4;
	font-family:'Open Sans', sans-serif; 
	font-size: 16px;
	text-align: center;
}

p-2{ /*address button*/
	color: #231913;
}


p-3{ /*footer address*/
	color: #cc966d;
	font-family:'Open Sans', sans-serif; 
	font-size: 16px;
}

p-4{ /*days of the week, phone, email*/
	color: #231913;
	font-family:'Open Sans', sans-serif; 
	font-weight:600;
	font-size: 16px;
}

p-5{ /*times, phone, email*/
	color: #231913;
	font-family:'Open Sans', sans-serif; 
	font-weight:400;
	font-size: 16px;
}

p-6{ /*quote button*/
	color: #f4f4f4;
}


/*Header of Page */

.firstRow{ /*top row/banner*/
	width:100%;
	height:190px;
	background-color:#4c4644;
}

.band{ /*band under header*/
	width:100%;
	height:20px;
	background-color:#CC9660;
}



.secondRow{ /*row where quote and hours are*/
	width:100%;
	height:400px;
	margin-top: 100px;
}

.blank{ /*blank space between the quote and hour box*/
	width: 50px;
	height: 100%;
	float: left;
}

.quoteCol{ /*where the quote information goes*/
	width: 600px;
	height: 100%;
	float: left;
}

.form{ /*holds the form information*/
	width: 100%;
	height: 210px;
	padding-top: 90px;
}

form{/*this is the form for submitting a quote*/
	margin: 0 auto;
	width: 400px;
	/*form outline*/
	padding-top: 15px;	
	padding-right: 80px;
}

.ul{ /*unordered list for form information*/
	list-style: none;
	margin: 0;
}

form li + li{ /*margin for the list*/
	margin-top: 15px;
}

label{/*uniform size and alignment*/
	display: inline-block;
	width: 90px;
	color: #231913;
	font-family:'Open Sans', sans-serif; 
	font-weight:600;
	font-size: 16px;
	text-align: right;
}

input,textarea{ /*style for the gray text boxes*/
	font-family:'Open Sans', sans-serif; 
	font-weight:400;
	font-size: 16px;
	width:300px;
	box-sizing: border-box;
	border: 1px solid #e5e5e5;
	border-radius: 6px;
	background-color: #e5e5e5;
}

textarea{ /*message text box*/
	vertical-align: top;
	height: 100px;
}

.titleRow{ /*row for quote and hour title*/
	width: 100%;
	height: 40px;
	float: left;
}

.buttonRow{ /*row where submit button goes*/
	width: 520px;
	height: 200px;
	text-align: center;
	padding-left: 40px;
}

.button { /*style for submit button*/
	height:35px;
	width:90px;
  	background-color: #231913;
  	color: #f4f4f4;
  	padding-top:10px;
  	text-align: center;
  	display: inline-block;
  	font-size: 17px;
  	margin-top: 23px;
  	font-family:'Open Sans', sans-serif;
  	font-weight:400; 
  	border-radius: 8px;
}

a:link{ /*style for link*/
	 text-decoration:none; 
	 color: #f4f4f4;
}

.button:hover { /*button hover*/
	transition:0.3s;
	text-decoration:none;
	opacity: 1;
	background-color:#CC9660;
}

.hourCol{ /*where hours are listed*/
	width: 500px;
	height: 100%;
	float: left;
}

.dayText{ /*where the days of week text is*/
	width: 110px;
	height: 300px;
	float: left;
	padding-top: 60px;
}

.timeText{ /*where the times are*/
	width: 125px;
	height: 300px;
	float: left;
	padding-top: 60px;
}

.blank2{ /*blank space before and afterday text and time*/
	width: 132.5px;
	height: 360px;
	float: left;
}



.thirdRow{ /*row where the address goes*/
	width: 100%;
	height: 413px;
	margin-top: 100px;
	margin-bottom: 100px;
}

.address{ /*the address and background image*/
	width: 1200px;
	height: 413px;
	background-image: url("images/address.png");
}

.text{ /*where the text goes*/
	width: 400px;
	height: 258px;
	float: left;
	padding-top: 155px;
	text-align: center;
}

.blank3{ /*blank space before the information*/
	width: 150px;
	height: 100%;
	float: left;
}

.button2 { /*button for address*/
	height:35px;
	width:90px;
  	background-color: #f4f4f4;
  	color: #231913;
  	padding-top:10px;
  	text-align: center;
  	display: inline-block;
  	font-size: 17px;
  	margin-top: 23px;
  	font-family:'Open Sans', sans-serif;
  	font-weight:400; 
  	border-radius: 8px;
}

a:link{ /*style for link*/
	 text-decoration:none; 
	 color: #231913;
}

.button2:hover { /*button hover*/
	transition:0.3s;
	text-decoration:none;
	opacity: 1;
	background-color:#CC9660;
}


/*footer*/

.footer{ /* this section is the footer, where my social media links will go */
	width: 100%;
	height: 180px;
	background-color: #231913;
	padding-top: 50px;
}

.footerCol-out{ /* the space before and after the icons */
	width: 375px;
	height:100%;
	float: left;
}

.footerIconCol{ /* the box that the icons will go in */
	width: 450px;
	height:100%;
	float: left;
	text-align: center;
}

.icons { /*the class where the icon link goes*/
	width: 150px;
	height:100px;
	float:left;
	text-align:center;
	/*padding-top:60px;*/
}

.fab{ /*allows me to change the icon size, color, etc.*/
	padding:10px;
	font-size:45px;
	height:45px;
	width:45px;
	margin: 5px 2px;
	text-align:center;
	border-radius:50%;
	background-color: #f4f4f4;
	color: #231913;
}

.fab:hover{ /*the hover over the icons*/
	transition:0.3s;
	background: #CC9660;;
}
